* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #EFEFEF;
}

.header {
	text-align: center;
  color: #000000;
  background: #ffffff;
}

.header>h2 {
  margin: 0px;
  padding: 10px 0px;
}

.footer {
	text-align: center;
  color: #000000;
  padding: 20px 0px;
}

.column {
	float: left;
	color: #ffffff;
	text-align: center;
}

.main-block {
	display: flex;
	justify-content: start;
}

.data-block>div {
	width: 42em;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.actions-block>div {
	position: relative;
	top: 10px;
	bottom: 0;
	left: 0;
	right: 0;
}

.button-block {
	margin: 15px 60px;
}

.button {
	width: 150px;
	background-color: #72C3DC;
	border: none;
	cursor: pointer;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 17px;
	border-bottom: 9px solid #2B8EAD;
}

.button:focus {
	outline: none;
	box-shadow: none;
	transform: translateY(0.5px);
}

.color-block {
	display: none;
	visibility: hidden;
}

.content-block p {
	font-size: 3.5em;
}

@media only screen and (max-width: 600px) {
	body {
		background: #ffffff;
	}
	.header {
		padding: 20px 0px;
		background: #000000;
		color: #ffffff;
	}
	.main-block {
    height: 70vh;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}
	.data-block>div {
		width: auto;
		height: 40px;
		margin: 20px;
		display: grid;
		grid-template: repeat(1, 1fr) / repeat(1, 1fr);
		;
	}
  .cell-block {
		float: left;
	}
	.column {
		width: 100%;
		height: 40px;
		color: #000000;
		background-color: #EFEFEF !important;
		margin-bottom: 5px;
	}
	.color-block {
		display: block;
		visibility: visible;
		width: 3%;
		height: inherit;
	}
	.content-block {
		width: 97%;
	}
	.content-block p {
		margin: 0;
    padding: 10px;
    font-size: unset;
  }
	.actions-block {
		width: 100%
  }
  .actions-block>div {
		margin: 0px 55px;
	}
  .button {
		width: 100px;
		padding: 10px 10px;
		border-bottom: 6px solid #2B8EAD;
	}
	.button-block {
		margin: 0px 15px;
		display: inline-block;
  }
  .footer {
		position: static;
		bottom: 0;
		left: 0;
	}
}